<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="FkAffiliateId" value="rajibmaha" />
    <add key="FkAffiliateToken" value="d2f2e72f8e2a4aff946adb037d647ca1" />
    <add key="FlipkartAllOffersApiUrl" value="https://affiliate-api.flipkart.net/affiliate/offers/v1/all/json" />
    <add key="FlipkartProductCatagoryApiUrl" value="https://affiliate-api.flipkart.net/affiliate/api/rajibmaha.json" />
    <add key="connectionString" value="Data Source=DESKTOP-K9JI0JL; Initial Catalog=LootLoOnlineDatabase; User id=sa;Password=rajib;" />
    <!--<add key="connectionString" value="Data Source=S148-72-65-157; Initial Catalog=LootLoOnlineDatabase; User id=sa;Password=Admin@2019;"/>-->
  </appSettings>
  <connectionStrings>
    <add name="LootLoOnlineDatabaseEntities" connectionString="metadata=res://*/Data.LootLoOnlineContext.csdl|res://*/Data.LootLoOnlineContext.ssdl|res://*/Data.LootLoOnlineContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K9JI0JL;initial catalog=LootLoOnlineDatabase;user id=sa;password=rajib;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>