@model List<AMA.WEB.Models.CategoryModel>
<header>
    <div class="header-bottom">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <nav>
                        <ul class="navigation">
                            @foreach (var item in Model)
                            {
                                <li >
                                    <a href="javascript:;" onclick="javascript:OpenClildCategory(@item.Id)">@item.Name</a>
                                    <div id="categoryList_@item.Id"></div>
                                    
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>