@model List<AMA.WEB.Models.CategoryModel>

    <div class="full-page-menu">
        <a class="close-popup" onclick="closePopup()">&times;</a>
        <div class="input-group input-group-lg">
            <input class="form-control" aria-label="With textarea" type="text">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="lo-icons">&#xe906;</i></span>
            </div>
        </div>
        <ul class="category-list">
            @foreach (var child in Model)
            {
                <li>
                    <a href="javascript:;">@child.Name</a>
                </li>

                foreach (var children in child.Children)
                {
                    <li>
                        <a href="#">@children.Name</a>
                    </li>
                }
            }
        </ul>
    </div>