@model List<AMA.WEB.Models.AMAOfferProduct>

<div class="banner">
    <img src="~/Content/Theme1/images/banner.jpg" class="d-block w-100" alt="...">
</div>

<div class="product-group listing">
    @foreach (var item in Model)
    {
        @Html.Partial("_Products", item)
    }

</div>