@model List<AMA.WEB.Models.AMAOfferProduct>

<div class="product-container">
    <h2 class="product-container-title">
        Offers of the Day
    </h2>
    <div class="product-group">
        <div class="product-box">
            <img src="~/Content/Theme1/images/Amazon/Amazon001.jpg" style="height:100px;width:200px" alt="American Diamond Ball Shaped Earrings for Women" title="American Diamond Ball Shaped Earrings for Women" class="product-img">
            <h3 class="product-name">American Diamond Ball Shaped Earrings for Women</h3>
            <div class="product-price-row">
                <div class="price">
                    <span class="cut-price">
                        <i class="lo-icons">&#xe905;</i> 899
                    </span>
                    <i class="lo-icons">&#xe905;</i> 328
                </div>
                <div class="get-from"><img src="~/Content/Theme1/images/amazon_Logo.png" style="height:50px;width:50px" alt="American Diamond Ball Shaped Earrings for Women"></div>
            </div>
            <a href="https://amzn.to/2NUC6FQ" target="_blank" class="product-link" alt="American Diamond Ball Shaped Earrings for Women"></a>
        </div>

        <div class="product-box">
            <img src="~/Content/Theme1/images/Amazon/Amazon002.jpg" style="height:100px;width:200px" alt="ramdev art Black Alloy Mangalsutra for Women" title="ramdev art Black Alloy Mangalsutra for Women" class="product-img">
            <h3 class="product-name">ramdev art Black Alloy Mangalsutra for Women</h3>
            <div class="product-price-row">
                <div class="price">
                    <span class="cut-price">
                        <i class="lo-icons">&#xe905;</i> 1499
                    </span>
                    <i class="lo-icons">&#xe905;</i> 319
                </div>
                <div class="get-from"><img src="~/Content/Theme1/images/amazon_Logo.png" style="height:50px;width:50px" alt="ramdev art Black Alloy Mangalsutra for Women"></div>
            </div>
            <a href="https://amzn.to/2virtq7" target="_blank" class="product-link" alt="ramdev art Black Alloy Mangalsutra for Women"></a>
        </div>

        <div class="product-box">
            <img src="~/Content/Theme1/images/Amazon/Amazon003.jpg" style="height:100px;width:200px" alt="JBL C50HI in-Ear Headphones with Mic (Black)" title="JBL C50HI in-Ear Headphones with Mic (Black)" class="product-img">
            <h3 class="product-name">JBL C50HI in-Ear Headphones with Mic (Black)</h3>
            <div class="product-price-row">
                <div class="price">
                    <span class="cut-price">
                        <i class="lo-icons">&#xe905;</i> 999
                    </span>
                    <i class="lo-icons">&#xe905;</i> 499
                </div>
                <div class="get-from"><img src="~/Content/Theme1/images/amazon_Logo.png" style="height:50px;width:50px" alt="JBL C50HI in-Ear Headphones with Mic (Black)"></div>
            </div>
            <a href="https://amzn.to/2RHnZ7X" target="_blank" class="product-link" alt="JBL C50HI in-Ear Headphones with Mic (Black)"></a>
        </div>

        <div class="product-box">
            <img src="~/Content/Theme1/images/Amazon/Amazon004.jpg" style="height:100px;width:200px" alt="Mi Earphone Basic with Ultra deep bass and mic (Black)" title="Mi Earphone Basic with Ultra deep bass and mic (Black)" class="product-img">
            <h3 class="product-name">Mi Earphone Basic with Ultra deep bass and mic (Black)</h3>
            <div class="product-price-row">
                <div class="price">
                    <span class="cut-price">
                        <i class="lo-icons">&#xe905;</i> 599
                    </span>
                    <i class="lo-icons">&#xe905;</i> 399
                </div>
                <div class="get-from"><img src="~/Content/Theme1/images/amazon_Logo.png" style="height:50px;width:50px" alt="Mi Earphone Basic with Ultra deep bass and mic (Black)"></div>
            </div>
            <a href="https://amzn.to/37mS3MX" target="_blank" class="product-link" alt="Mi Earphone Basic with Ultra deep bass and mic (Black)"></a>
        </div>

        <div class="product-box">
            <img src="~/Content/Theme1/images/Amazon/Amazon005.jpg" style="height:100px;width:200px" alt="Sensodyne Sensitive Toothpaste Repair & Protect - 100 g" title="Sensodyne Sensitive Toothpaste Repair & Protect - 100 g" class="product-img">
            <h3 class="product-name">Sensodyne Sensitive Toothpaste Repair & Protect - 100 g</h3>
            <div class="product-price-row">
                <div class="price">
                    <span class="cut-price">
                        <i class="lo-icons">&#xe905;</i> 599
                    </span>
                    <i class="lo-icons">&#xe905;</i> 399
                </div>
                <div class="get-from"><img src="~/Content/Theme1/images/amazon_Logo.png" style="height:50px;width:50px" alt="Sensodyne Sensitive Toothpaste Repair & Protect - 100 g"></div>
            </div>
            <a href="https://amzn.to/30OeZCn" target="_blank" class="product-link" alt="Sensodyne Sensitive Toothpaste Repair & Protect - 100 g"></a>
        </div>

        <div class="product-box">
            <img src="~/Content/Theme1/images/Amazon/Amazon007.jpg" style="height:100px;width:200px" alt="Philips BHS386 Kera Shine Straightener (Purple)" title="Philips BHS386 Kera Shine Straightener (Purple)" class="product-img">
            <h3 class="product-name">Philips BHS386 Kera Shine Straightener (Purple)</h3>
            <div class="product-price-row">
                <div class="price">
                    <span class="cut-price">
                        <i class="lo-icons">&#xe905;</i> 2395
                    </span>
                    <i class="lo-icons">&#xe905;</i> 1995
                </div>
                <div class="get-from"><img src="~/Content/Theme1/images/amazon_Logo.png" style="height:50px;width:50px" alt="Sensodyne Sensitive Toothpaste Repair & Protect - 100 g"></div>
            </div>
            <a href="https://amzn.to/31GR3B4" target="_blank" class="product-link" alt="Philips BHS386 Kera Shine Straightener (Purple)"></a>
        </div>

        <div class="product-box">
            <img src="~/Content/Theme1/images/Amazon/Amazon008.jpg" style="height:100px;width:200px" alt="Dettol Tulsi Hand wash Refill and Pump 200ml+175ml, Pack of 2 (co-Created with Moms)"
                 title="Dettol Tulsi Hand wash Refill and Pump 200ml+175ml, Pack of 2 (co-Created with Moms)" class="product-img">
            <h3 class="product-name">Dettol Tulsi Hand wash Refill and Pump 200ml+175ml, Pack of 2 (co-Created with Moms)</h3>
            <div class="product-price-row">
                <div class="price">
                    <span class="cut-price">
                        <i class="lo-icons">&#xe905;</i> 250
                    </span>
                    <i class="lo-icons">&#xe905;</i> 238
                </div>
                <div class="get-from"><img src="~/Content/Theme1/images/amazon_Logo.png" style="height:50px;width:50px" alt="Dettol Tulsi Hand wash Refill and Pump 200ml+175ml, Pack of 2 (co-Created with Moms)"></div>
            </div>
            <a href="https://amzn.to/2HeOtZC" target="_blank" class="product-link" alt="Dettol Tulsi Hand wash Refill and Pump 200ml+175ml, Pack of 2 (co-Created with Moms)"></a>
        </div>

        <div class="product-box">
            <img src="~/Content/Theme1/images/Amazon/Amazon009.jpg" style="height:100px;width:200px" alt="Lizol Disinfectant Surface Cleaner Floral 975ml"
                 title="Lizol Disinfectant Surface Cleaner Floral 975ml" class="product-img">
            <h3 class="product-name">Lizol Disinfectant Surface Cleaner Floral 975ml</h3>
            <div class="product-price-row">
                <div class="price">
                    <span class="cut-price">
                        <i class="lo-icons">&#xe905;</i> 179
                    </span>
                    <i class="lo-icons">&#xe905;</i> 161
                </div>
                <div class="get-from"><img src="~/Content/Theme1/images/amazon_Logo.png" style="height:50px;width:50px" alt="Lizol Disinfectant Surface Cleaner Floral 975ml"></div>
            </div>
            <a href="https://amzn.to/2OW0HuH" target="_blank" class="product-link" alt="Lizol Disinfectant Surface Cleaner Floral 975ml"></a>
        </div>

        <div class="product-box">
            <img src="~/Content/Theme1/images/Amazon/Amazon0010.jpg" style="height:100px;width:200px" alt="Godrej aer spray, Home & Office Air Freshener - Musk After Smoke (240 ml)"
                 title="Godrej aer spray, Home & Office Air Freshener - Petal Crush Pink (240 ml)" class="product-img">
            <h3 class="product-name">Godrej aer spray, Home & Office Air Freshener - Musk After Smoke (240 ml)</h3>
            <div class="product-price-row">
                <div class="price">
                    <span class="cut-price">
                        <i class="lo-icons">&#xe905;</i> 190
                    </span>
                    <i class="lo-icons">&#xe905;</i> 125
                </div>
                <div class="get-from"><img src="~/Content/Theme1/images/amazon_Logo.png" style="height:50px;width:50px" alt="Godrej aer spray, Home & Office Air Freshener - Musk After Smoke (240 ml)"></div>
            </div>
            <a href="https://amzn.to/39BAbi0" target="_blank" class="product-link" alt="Godrej aer spray, Home & Office Air Freshener - Musk After Smoke (240 ml)"></a>
        </div>

        @foreach (var item in Model)
        {
            @Html.Partial("_Products", item)
        }
    </div>
    <div class="btn-view-all-box">
        <a href="@Url.Action("Index", "Offers", new {catagoryID=0 })" class="btn btn-primary">View All <i class="lo-icons">&#xe902;</i></a>
    </div>
</div>

