


@Html.Partial("_Banner");


<div class="container-fluid">
    <div class="product-container">
        <h2 class="product-container-title">
            Deals of the Day
        </h2>
        <div class="product-group">
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
        </div>
        <div class="btn-view-all-box">
            <a href="javascript:;" class="btn btn-primary">View All <i class="lo-icons">&#xe902;</i></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="category-container">
        <div class="category-box">
            <h3 class="category-title">Top Selling Products</h3>
            <img src="~/Content/Theme1/images/category-1.png" alt="">
        </div>
        <div class="category-box">
            <h3 class="category-title">Featured Products</h3>
            <img src="~/Content/Theme1/images/category-2.png" alt="">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="product-container">
        <h2 class="product-container-title">
            Deals of the Day
        </h2>
        <div class="product-group">
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
        </div>
        <!-- <div class="btn-view-all-box">
            <a href="javascript:;" class="btn btn-primary">View All <i class="lo-icons">&#xe902;</i></a>
        </div> -->
    </div>
</div>

<div class="container-fluid">
    <div class="product-container">
        <h2 class="product-container-title">
            Deals of the Day
        </h2>
        <div class="product-group">
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
            <div class="product-box">
                <img src="~/Content/Theme1/images/product.jpg" alt="" class="product-img">
                <h3 class="product-name">Pet Dog Cat Kennel Calming Sleeping Bed Round Nest</h3>
                <div class="product-price-row">
                    <div class="price">
                        <span class="cut-price">
                            <i class="lo-icons">&#xe905;</i> 1499
                        </span>
                        <i class="lo-icons">&#xe905;</i> 1199
                    </div>
                    <div class="get-from"><img src="~/Content/Theme1/images/get-logo.png" alt=""></div>
                </div>
                <a href="javascript:;" class="product-link"></a>
            </div>
        </div>
        <!-- <div class="btn-view-all-box">
            <a href="javascript:;" class="btn btn-primary">View All <i class="lo-icons">&#xe902;</i></a>
        </div> -->
    </div>
</div>
