@model AMA.WEB.Models.MainOffersModel

@*<div class="container-fluid" id="MainContainer">*@

@*@Html.Partial("_Banner", Model.fipkartAllOffers)*@

@Html.Partial("_OfferProducts", Model.offerProducts)

<div class="container-fluid">
    <div class="category-container">
        <div class="category-box">
            <h3 class="category-title">Top Selling Products</h3>
            <a href="@Url.Action("Index", "Offers", new {catagoryID=0 })"> <img src="~/Content/Theme1/images/category-1.png" alt=""></a>
        </div>
        <div class="category-box">
            <h3 class="category-title">Featured Products</h3>
            <a href="@Url.Action("Index", "Offers", new {catagoryID=0 })"> <img src="~/Content/Theme1/images/category-2.png" alt=""></a>
        </div>
    </div>
</div>

<div id="DivAllOffers">
    @*@Html.Partial("_AllOffers", Model.fipkartAllOffers)*@
</div>

@*</div>*@
