@model List<AMA.WEB.Models.CategoryModel>
@{
   // int i = 0, j = 0;
}

<header>
    <div class="header-bottom">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <nav>
                        <ul class="navigation">
                            @foreach (var item in Model)
                            {
                                <li >
                                    <a href="javascript:;">@item.Name</a>
                                    <div class="full-page-menu">

                                        <a class="close-popup">&times;</a>
                                        <div class="input-group input-group-lg">
                                            <input class="form-control" aria-label="With textarea" type="text">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="lo-icons">&#xe906;</i></span>
                                            </div>
                                        </div>
                                        <ul class="category-list">
                                            @foreach (var child in item.Children)
                                            {
                                                <li>
                                                    <a href="javascript:;">@child.Name</a>
                                                </li>

                                                foreach (var children in child.Children)
                                                {
                                                    <li>
                                                        <a class="dropdown-item" href="#">@children.Name</a>
                                                    </li>
                                                }
                                            }

                                        </ul>
                                    </div>

                                </li>
                               
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>