<footer>
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-auto">
                <nav>
                    <ul class="footer-nav">
                        <li><a href="avascript:;">Privacy Policy</a></li>
                        <li><a href="avascript:;">Terms & Conditions</a></li>
                        <li><a href="avascript:;">Feedback</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-auto">
                <p class="copyrighttext">Copytight &copy; 2019 All right Reserved</p>
            </div>
        </div>
    </div>
</footer>
